[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = julio3.oliveir@gmail.com
	name = Júlio C Oliveira
[core]
	editor = vim
	pager = cat
[commit]
	titleLength = 100
